@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

*{
    box-sizing: border-box;
}

header{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    background-color:#d81921;
    color:#fff;
    margin-bottom:20px;

}


body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper{
    width:600px;
    display:flex;
    flex-direction: column;
}

/* Base code */
button{
    min-width:150px;
    margin:5px;
    padding:10px 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border:none;
    transition: 0.3s;
}

/* Hover */
button:hover{
    background-color:darkcyan;
    cursor: pointer;
}

/* Click */
button:active{
    background-color: darkseagreen;
}

input{
margin:5px;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid #d81921;
outline: none;
}

input:active{
    border:none;
}

.container{
    display: flex;
    flex-direction: column;
    width:100%;
}
.textContainer{
    padding:10px;
    background-color: darkgray;
    word-wrap: break-word;
}

.searchbox{
 color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
